@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&family=Katibeh&family=Macondo&display=swap');
*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
.logo {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo a img {
    width: 33%;
    border: 3px black;
    border-radius: 50%;
}
.navbar {
    display: flex;
    position: sticky;
    align-items: center;
    justify-content: center;
    top: 0;
    cursor: pointer;
}
.nav-list {
    width: 70%;
    /* background-color: rgb(3, 3, 0); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-list li{
    list-style: none;
    padding: 10px;
}

.nav-list li a{
    text-decoration: none;
    color: white;
}

.nav-list li a:hover{
    text-decoration: none;
    color: gray;
}





/* 
.nav-list li a span{
    position: absolute;
    display:list-item;
}

.nav-list li a span:nth-child(1) {
top: 0;
left: -100%;
width: 100%;
height: 0.15em;
background: linear-gradient(90deg, transparent, #2196f3);
}

..nav-list li a:hover span:nth-child(1)
{
left: 100%;
transition: 0.5s;
}


.nav-list li a span:nth-child(3)
{
bottom:  0;
right: -100%;
width: 100%;
height: 0.15em;
background: linear-gradient(270deg, transparent, #2196f3);

}
.nav-list li a:hover span:nth-child(3)
{
right: 100%;
transition: 0.5s;
}


.nav-list li a span:nth-child(2)
{
top: -100%;
right: 0;
width: 0.15em;
height: 100%;
background: linear-gradient(180deg, transparent, #2196f3);

}
.nav-list li a:hover span:nth-child(2)
{
top: 100%;
transition: 1s;
transition: 0.25s;
}

.nav-list li a span:nth-child(4)
{
bottom:  -100%;
left:  0;
width: 0.15em;
height: 100%;
background: linear-gradient(360deg, transparent, #2196f3);

}
.nav-list li a:hover span:nth-child(4)
{
bottom:  100%;
transition: 1s;
transition: 0.75s;
}
 */




.rightnav {
    /* background-color: blue; */
    width: 20%;
    text-align: center;
    padding: 0 10px;
}

#search {
    padding:0px;
    font-size: 14px;
    border: 1px solid grey;
    border-radius: 20px;
}

.box-main {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    max-width: 80%;
    margin: auto;
    height: 80%;
}

.firstsection {
    height: 100vh;
    padding-top: 100px;
}

.firsthalf {
    width: 80%;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.secondhalf {
    width: 20%;
    /* display: flex;
    justify-content: center; */
}

.secondhalf img{

    border: 2px rgb(24, 27, 29);
    border-radius: 50%;
    width: 100%;
    padding: 2px;
}

.text-big1 {
    font-size: 90px;
    text-align: center;
}
.text-big {
    font-size: 51px;
    font-family: 'Cinzel Decorative', cursive;
    text-align: center;
}
.text-medium1 {
    font-size: 30px;
    font-family: 'Katibeh', cursive;
    text-align: center;
}
.text-medium {
    font-size: 30px;
}
.text-small{
    font-size: 18px;
}

.btn {
    margin: 0px 0;
    border-radius: 8px;
    font-size: 14px;
    padding: 2px 2px;
    border: 2px solid white;
    background: none;
    color: white;
    cursor: pointer;
}

.btn-sm{
    padding: 2px 2px;
    vertical-align: middle;
    font-size: 12px;
}

.sectionpara {
    /* height: 250px; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 80%;
    margin: auto;
    font-family: 'Macondo', cursive;
}
.sectionleft {
    flex-direction: row-reverse;
}

.para {
    /* flex-direction: column; */
    padding: 0 25px;
}
.thumbnail img{
    width: 280px;
    border: 4px solid gray;
    border-radius: 50%;
    margin-top: 50px;
}

hr.break1 {
    position: relative;
        top: 20px;
        border: none;
        height: 4px;
        background: gray;
        margin-bottom: 50px;
}

.background{
    background: rgba(0, 0, 0, 0.2) url('../img/bgschool1.jpg');
    background-size: contain;
    background-blend-mode: darken;
}
.background2{
    background: rgba(0, 0, 0, 0.01) url('../img/bgschool6.jpg');
    background-size: cover;
    background-blend-mode: darken;
}
.background3{
    background: rgba(0, 0, 0, 0.8) url('../img/bgschool2.png');
    background-size: contain;
    background-blend-mode: darken;
}
.background4{
    background: rgba(0, 0, 0, 0.001) url('../img/bgschool3.jpg');
    background-size: cover;
    background-blend-mode: darken;
}
.item {
    /* height: 250px; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 80%;
    margin: auto;
    font-family: 'Macondo', cursive;
    color: azure;
}
.aboutus {
    /* height: 250px; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 80%;
    margin: auto;
    font-family: 'Macondo', cursive;
    color: solid black;
    font-weight: 900;
}

.contactus {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 34vh;
    /* max-width: 80%; */
    margin: auto;
    font-family: 'Macondo', cursive;
    color: solid black;
    font-weight: 900;
    background-color: rgb(191, 216, 216);
}

.sectiontag1 {
    
    text-align: center;
    font-weight: 900;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

/* .sectionsubtag1 {

} */

.sectiontag2 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 900;
}

.sectiontag3 {
    text-align: center;
    font-weight: 900;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.sectiontag4 {
    text-align: center;
    font-weight: 900;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.sectiontag5 {
    text-align: center;
    font-weight: 900;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.sectiontag6 {
    text-align: center;
    font-weight: 900;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.contact {
    background-color: rgb(202, 228, 219);
    height: 78vh;
}

.text-center {
    text-align: center;
    padding-top: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.form {
    max-width: 62%;
    margin: 5px auto;
}

.form-input{
    margin: 5px;
    padding: 2px 2px;
    width: 100%;
    font-size: 19px;
    border: 2px solid gray;
    border-radius: 6px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.icon-bar{
    position: fixed;
    left: 0;
    top: 10rem;
    z-index: 99990;
 }
 .icon-bar .button{
    width: 2.7rem;
    height: 2.9rem;
    cursor: pointer;
    background: rgb(44, 110, 58);
    overflow: hidden;
    border-radius: 10%;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0.7rem 0.7rem #0000001a;
    margin: 3px 0;
 }
 .icon-bar .button a{
    text-decoration: none;
}
.icon-bar .button span {
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 0.6rem;
    margin-left: 1rem;
    font-family:'Times New Roman', Times, serif;
}
 
.icon-bar .button:hover{
    width: 15rem;
}
 
.icon-bar .button .icon{
    width: 2.7rem;
    height: 3.7rem;
    text-align: center;
    border-radius: 3rem;
    display: inline-block;
    transition:  all 0.3s ease-in-out;
}


.btn-dark {
    color: black;
    border: 2px solid black;
}

.text-footer {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 10px 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

.burger {
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 15px;
}

.line{
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 5px 5px;
    border-radius: 40%;
}
.imagefacility {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    margin: auto;
}
.fluidimg{
    height: 200px;
    width: 300px;
    margin: 10px 10px;
    border: #ffffff;
    border-width: 2px;
}

.imagefacility1 {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    margin: auto;
}
.fluidimg1{
    height: 150px;
    width: 200px;
    
    margin: 20px 20px;
    border: #0c0000;
    border-width: 2px;
}

.container {
    max-width: 100vw;
    margin:0%;
    margin-bottom: 0%;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style:none;
    /* display: list-item; */
}
.maindiv {
    margin-top: 20px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
    background-image: url(../img/maagood1.jpeg);
    background-size: 100% 100%;
    /* border-radius: 20%; */
    box-shadow: 0.08rem 0.015rem 0.06rem 0.3rem black;
    animation:slider 20s infinite linear;
}
@keyframes slider {
    0%{background-image: url(../img/maagood1.jpeg);}
    20%{background-image: url(../img/maagood3.jpeg);}
    40%{background-image: url(../img/maagood4.jpeg);}
    55%{background-image: url(../img/maagood5.jpeg);}
    70%{background-image: url(../img/maagood2.jpeg);}
    85%{background-image: url(../img/maagood6.jpeg);}
}


  /* .swiper {
    margin-left: auto;
    margin-right: auto;
  }

.swiper {
        width: 100%;
        height: 100%;
      }

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        /* display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      } */

      /* .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover; */
      /* } */ 

      /* foe amenities


.amenitiesphoto .swiper {
        width: 100%;
        height: 100%;
      }

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        Center slide text vertically
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }

      .amenitiesphoto .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      } */

.footer{
    background-color: #5c505b;
    width: 100vw;
    padding: 0rem 0rem;
    margin-top: auto;
    position: sticky;
    top: 100%;
    height:20rem;
    /* line-height: 30vh; */
    flex-direction: column;
}
.footer-col{
    width:17%;
    padding: 0 1rem;
    text-align: center;
    height: 10rem;
}

.footer-col h3{
    font-size: 1.2rem;
    color: #f0f357;
    text-transform: capitalize;
    margin-bottom: 0rem;
    font-weight: 500;
    position: relative;
}
/* .footer-col h3{
    font-size: 1.5rem;
    color: #f0f357;
    text-transform: capitalize;
    margin-bottom: 0rem;
    font-weight: 500;
    position: relative;
} */

/* .footer-col h4::before {
    content: ' ';
    position: absolute;
    left:0;
    bottom: -0.8rem;
    background-color: #f0f357;
    height: 0.02rem;
    box-sizing: border-box;
    width: 3rem;
} */

.footer-col ul li{
    position: relative;
    display: inline-block;
    padding: 0rem 0rem;
    color: #533707;
    text-transform: uppercase;
    letter-spacing: 0.0rem;
    text-decoration: none;
    font-size: 1.0rem;
    overflow: hidden;
    transition: 0.2s;
}
.footer-col ul li a h4{
    font-size: 1 rem;
    color: #d37f98;
    text-transform: capitalize;
    margin-bottom: 0rem;
    font-weight: 500;
    position: relative;
}
.footer-col ul li:hover{

         color: #255784;
         background: #2196f3;
         box-shadow: 0 0 0.8rem #2196f3,0 0 2.6rem #2196f3, 0 0 5rem #2196f3;
        transition-delay: 0.1s;
        padding-left: 0.5rem;
}  

     .footer-col ul li span{

              position: absolute;
              display: block;
     }

     .footer-col ul li span:nth-child(1)
     {
         top: 0;
         left: -100%;
         width: 100%;
         height: 0.15rem;
         background: linear-gradient(90deg, transparent, #2196f3);

     }
 .footer-col ul li:hover span:nth-child(1)
 {
       left: 100%;
       transition: 0.5s;
 }


       .footer-col ul li span:nth-child(3)
     {
         bottom:  0;
         right: -100%;
         width: 100%;
         height: 0.15rem;
         background: linear-gradient(270deg, transparent, #2196f3);

     }
 .footer-col ul li:hover span:nth-child(3)
 {
       right: 100%;
       transition: 0.5s;
 }


     .footer-col ul li span:nth-child(2)
     {
         top: -100%;
         right: 0;
         width: 0.15rem;
         height: 100%;
         background: linear-gradient(180deg, transparent, #2196f3);

     }
 .footer-col ul li:hover span:nth-child(2)
 {
       top: 100%;
       transition: 1s;
       transition: 0.25s;
 }

    .footer-col ul li span:nth-child(4)
     {
         bottom:  -100%;
         left:  0;
         width: 0.15rem;
         height: 100%;
         background: linear-gradient(360deg, transparent, #2196f3);

     }
 .footer-col ul li:hover span:nth-child(4)
 {
       bottom:  100%;
       transition: 1s;
       transition: 0.75s;
 }

.footer-col .social-links a{
    display: inline-block;
    height: 2.7rem;
    width: 2.7rem;
    background-color: #24262b;
    margin:0 0.7rem 0.7rem 0;
    text-align: center;
    line-height: 2.7rem;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

@media only screen and (max-width: 950px){
    .nav-list {
        flex-direction: column;
    }
    .navbar{
        flex-direction: column;
        transform: all 0.7sec ease-out;
        height: 478px; 
    }
    .rightnav {
        flex-direction: column;
    }
    .firstsection{
        width: 100%;
        background-size: contain;
        
    }
    .box-main{
        flex-direction: column-reverse;
        /* max-width: 100%; */
        /* justify-content: center;
        text-align: center;
        display: flex; */
    }
    #search {
        width: 100%;
    }
    .burger {
        display: block;
    }
    .h-nav-resp{
        height: 72px;
    }
    .v-class-resp{
        opacity: 0;
    }
    .sectionpara {
        flex-direction: column-reverse;
    }
    .aboutus {
        flex-direction: column-reverse;
    }
    .item {
        flex-direction: column-reverse;
    }
    
    .text-big1 {
        font-size: 50px;
    }
    .text-big{
        text-align: center;
    }
    .text-small{
        text-align: center;
    }
    .text-medium{
        text-align: center;
    }
    .text-medium1{
        text-align: center;
    }
    .buttons {
        text-align: center;
    }
    .footer {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .row { flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-col {
        width: 50%;
    }
    .imagefacility {
        flex-direction: column;
    }
    /* change on 18_06 */
    .imagefacility1{
        flex-direction: column;
    }

}
    /* .secondhalf img {
        display: flex;
        justify-content: center;
        margin-right: 20%;
    } */
